/*  Author: anon
    Used by: Joash Tantiangco
    Purpose: css file to be edited to copy a certain format as presented in activity
    Title: box-model.css
*/

/* Date:
    17 January 2024:
        - Added property and value in the loadout as required in activity
*/

.callout {
	max-width: 450px;
    max-height: 375px;
    margin: 0;
    border: 10px solid hsl(180, 22%, 94%);
    padding: 15px 20px;
    background-color: hsl(220, 56%, 30%);
    color: hsl(180, 22%, 94%);
    font-size: 18px;
    font-family: Georgia, Tahoma, sans-serif;
    word-spacing: 2px;
}

img {
	float: right;
    margin: 0px 0px 20px 20px;
    border: 1px solid hsl(180, 10%, 10%);
    padding: 3px;
    background-color: hsl(180, 3%, 63%);
    width: 25%;
    height: 35%;
}

blockquote {
	margin: 10px 0;
}

cite {
    display: block;
    border-top: 1px dotted hsl(180, 22%, 94%);
    padding-top: 5px;
    text-align: right;
    font-size: 80%;
}