/*  Author: Joash Tantiangco
    Purpose: byu wdd practice and project css
    Title: styles.css
*/

/*  Date: 
    2024 January 17:
        - created css file and applied to "index.html" file
        - Achieved week 02 requirements for wdd css files

    2024 January 19:
        - added styles for main, aside, and footer
        - changed some values for p and img[changed to main img]

    2024 January 23:
        - Added universal declaration
        - Added float in main img
        - Added box class and removed aside repetitions
        - Added aside > h2 declaration
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: relative;
    top: 50px;
    left: 150px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*Class Selectors*/

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: #eee;
    color: #333;
}