/*  Author: Joash Tantiangco
    Purpose: byu wdd practice and project css
    Title: styles.css
*/

/*  Date: 
    2024 January 17:
        - created css file and applied to "index.html" file
        - Achieved week 02 requirements for wdd css files
*/

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}